In [13]:
import pandas as pd

#pandas.read_excel(filename, sheet_name)
file_name = ".\Sqlite\sample_winterathletes.xlsx"
sheet_name = "Athletes"
athletes = pd.read_excel(file_name, sheet_name = sheet_name)
athletes

,Athletes Data,4 Athletes with 2 Sports,Athletes,2606,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,Name,Sport,Nationality,Age,Wt kg,Ht
2,ABBAS Muhammad,Alpine Skiing,Pakistan,23,55,168
3,ABBOTT Jeremy,Figure Skating,United States,24,NaN,175
4,ABLAEV Enver,Freestyle Skiing,Ukraine,30,68,169
...,...,...,...,...,...,...
2603,ZUEV Stepan,Alpine Skiing,Russia,21,90,189
2604,ZURBRIGGEN Silvan,Alpine Skiing,Switzerland,28,94,185
2605,ZUZULOVA Veronika,Alpine Skiing,Slovakia,25,72,172
2606,ZVARICOVA Veronika,Biathlon,Czech Republic,21,62,176
2607,ZVEJNIEKS Kristaps,Alpine Skiing,Latvia,17,87,185

In [15]:
#importing SQL table

import pandas as pd
import sqlite3

conn = sqlite3.connect("./Sqlite/PitchForkDatabase.sqlite")

pfDB = pd.read_sql_query("SELECT * FROM artists",conn)

pfDB

       reviewid          artist
0         22703  massive attack
1         22721        krallice
2         22659    uranium club
3         22661         kleenex
4         22661         liliput
...         ...             ...
18826      1535         coldcut
18827      1341         cassius
18828      5376        mojave 3
18829      2413   don caballero
18830      3723  neil hamburger

[18831 rows x 2 columns]

In [25]:
import pandas as pd

green = pd.read_csv("./Sqlite/GREENCOMPUTERS500.csv", index_col= 0)

# help(green.info)

# green.info()

green[:15]

,TOP500 Rank,Name,Computer,Site,Manufacturer,Country,Year,Segment,Total Cores,Accelerator/Co-Processor Cores,...,Accelerator/Co-Processor,Cores per Socket,Processor Generation,System Model,System Family,Interconnect Family,Interconnect,Continent,Site ID,System ID
Rank,,,,,,,,,,,,,,,,,,,,,
1,170,NVIDIA DGX SuperPOD,"NVIDIA DGX A100, AMD EPYC 7742 64C 2.25GHz, NV...",NVIDIA Corporation,Nvidia,United States,2020,Vendor,"19,840","17,280",...,NVIDIA A100,64,AMD Rome,NVIDIA DGX A100,NVIDIA DGX,Infiniband,Mellanox HDR Infiniband,North America,"48,448",179910
2,330,MN-3,"MN-Core Server, Xeon Platinum 8260M 24C 2.4GHz...",Preferred Networks,Preferred Networks,Japan,2020,Industry,"1,664",128,...,Preferred Networks MN-Core,24,Xeon Platinum 82xx (Cascade Lake),MN-Core Server,Preferred Networks Cluster,Custom Interconnect,MN-Core DirectConnect,Asia,"50,832",179806
3,7,JUWELS Booster Module,"Bull Sequana XH2000 , AMD EPYC 7402 24C 2.8GHz...",Forschungszentrum Juelich (FZJ),Atos,Germany,2020,Research,"449,280","404,352",...,NVIDIA A100,24,AMD Rome,BullSequana XH2000,BullSequana,Infiniband,Mellanox HDR InfiniBand/ParTec ParaStation Clu...,Europe,"47,871",179894
4,146,Spartan2,"Bull Sequana XH2000 , AMD EPYC 7402 24C 2.8GHz...",Atos,Atos,France,2020,Vendor,"23,040","20,736",...,NVIDIA A100,24,AMD Rome,BullSequana XH2000,BullSequana,Infiniband,Mellanox HDR Infiniband,Europe,"50,630",179893
5,5,Selene,"NVIDIA DGX A100, AMD EPYC 7742 64C 2.25GHz, NV...",NVIDIA Corporation,Nvidia,United States,2020,Vendor,"555,520","483,840",...,NVIDIA A100,64,AMD Rome,NVIDIA DGX A100,NVIDIA DGX,Infiniband,Mellanox HDR Infiniband,North America,"48,448",179842
6,239,A64FX prototype,"Fujitsu A64FX, Fujitsu A64FX 48C 2GHz, Tofu in...",Fujitsu Numazu Plant,Fujitsu,Japan,2019,Vendor,"36,864",NaN,...,NaN,48,Fujitsu A64FX,Fujitsu A64FX,Fujitsu Cluster,Proprietary Network,Tofu interconnect D,Asia,"50,811",179706
7,29,AiMOS,"IBM Power System AC922, IBM POWER9 20C 3.45GHz...",Rensselaer Polytechnic Institute Center for Co...,IBM,United States,2019,Academic,"130,000","120,000",...,NVIDIA Volta GV100,20,IBM POWER9,IBM Power System AC922,IBM Power Systems,Infiniband,Dual-rail Mellanox EDR Infiniband,North America,"50,823",179781
8,8,HPC5,"PowerEdge C4140, Xeon Gold 6252 24C 2.1GHz, NV...",Eni S.p.A.,Dell EMC,Italy,2020,Industry,"669,760","582,400",...,NVIDIA Tesla V100,24,Xeon Gold 62xx (Cascade Lake),PowerEdge C4140,Dell PowerEdge Cluster,Infiniband,Mellanox HDR Infiniband,Europe,"50,489",179856
9,458,Satori,"IBM Power System AC922, IBM POWER9 20C 2.4GHz...","MIT/MGHPCC Holyoke, MA",IBM,United States,2019,Academic,"23,040","20,480",...,NVIDIA Tesla V100 SXM2,20,IBM POWER9,IBM Power System AC922,IBM Power Systems,Infiniband,Infiniband EDR,North America,"50,822",179780
10,1,Supercomputer Fugaku,"Supercomputer Fugaku, A64FX 48C 2.2GHz, Tofu i...",RIKEN Center for Computational Science,Fujitsu,Japan,2020,Research,"7,630,848",NaN,...,NaN,48,Fujitsu A64FX,Supercomputer Fugaku,Fujitsu Cluster,Proprietary Network,Tofu interconnect D,Asia,"50,831",179807
11,2,Summit,"IBM Power System AC922, IBM POWER9 22C 3.07GHz...",DOE/SC/Oak Ridge National Laboratory,IBM,United States,2018,Research,"2,414,592","2,211,840",...,NVIDIA Volta GV100,22,IBM POWER9,IBM Power System AC922,IBM Power Systems,Infiniband,Dual-rail Mellanox EDR Infiniband,North America,"48,553",179397
12,11,Marconi-100,"IBM Power System AC922, IBM POWER9 16C 3GHz, N...",CINECA,IBM,Italy,2019,Academic,"347,776","316,160",...,Nvidia Volta V100,16,IBM POWER9,IBM Power System AC922,IBM Power Systems,Infiniband,Dual-rail Mellanox EDR Infiniband,Europe,"47,495",179845
13,14,AI Bridging Cloud Infrastructure (ABCI),"PRIMERGY CX2570 M4, Xeon Gold 6148 20C 2.4GHz,...",National Institute of Advanced Industrial Scie...,Fujitsu,Japan,2018,Research,"391,680","348,160",...,NVIDIA Tesla V100 SXM2,20,Xeon Gold,PRIMERGY CX2570 M4,Fujitsu PRIMERGY,Infiniband,Infiniband EDR,Asia,"50,762",179393
14,31,TSUBAME3.0,"SGI ICE XA, IP139-SXM2, Xeon E5-2680v4 14C 2.4...","GSIC Center, Tokyo Institute of Technology",HPE,Japan,2017,Academic,"135,828","120,736",...,NVIDIA Tesla P100 NVLink,14,Intel Xeon E5 (Broadwell),"SGI ICE XA (HPE SGI 8600), IP139-SXM2",HPE SGI 8600,Omnipath,Intel Omni-Path,Asia,"47,912",179093
15,18,PANGEA III,"IBM Power System AC922, IBM POWER9 18C 3.45GHz...",Total Exploration Production,IBM,France,2019,Industry,"291,024","270,720",...,NVIDIA Volta GV100,18,IBM POWER9,IBM Power System AC922,IBM Power Systems,Infiniband,Dual-rail Mellanox EDR Infiniband,Europe,"49,546",179689

In [33]:
import pandas as pd

cities = pd.DataFrame([["St. Louis","Missouri"],["Atlanta","Georgia"]],columns =["City","State"])

cities

cities.to_csv("cities.csv",index = False)

df = pd.read_csv("cities.csv")

print(df)

cities.to_csv("cities_tab.csv", sep ="\t")

        City     State
0  St. Louis  Missouri
1    Atlanta   Georgia

In [56]:
import pandas as pd

df = pd.read_csv("./Sqlite/data.csv")

# df.info()

# df.head(15)

# print("\n")

# df.tail(15)

# print(df.to_string())

string_df = df.to_string()

# print(string_df[:1000])

# df.to_csv("string_df.csv")

string_df = df.dropna()

print(string_df.to_string())

In [62]:
import pandas as pd
df = pd.read_csv("./Sqlite/data.csv")

# df.fillna(404, inplace = True)

df["Calories"].fillna(404, inplace = True)

print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [81]:
#how to aggregate data

import pandas as pd
df = pd.read_csv("./Sqlite/data.csv")

# col_mean = round(df["Calories"].mean(), 2)
# print(col_mean)

# df["Calories"].fillna(col_mean, inplace = True)

# col_median = (df["Calories"].median())
# df["Calories"].fillna(col_median, inplace = True)


#mode() -> returns a df with mode values

col_mode = df["Calories"].mode(0)
print(col_mode)
# df["Calories"].fillna(col_mode, inplace = True)
# print(df.to_string())

0    300.0
Name: Calories, dtype: float64

In [93]:
df = pd.DataFrame({'X': [1, 2, 3, 4, 5],
                    'Y': [5, 6, 7, 8, 9],
                    'Z': ['z', 'y', 'x', 'w', 'v']})

print(df)

# df1 = df.replace(to_replace=2, value=20)
# print(df1)

# df2 = df.replace(to_replace=[1,3,5], value = 20)
# print(df2)

# df3 = df.replace(to_replace={1:10, "z":"zz","v":"vvv"} )
# print(df3)

df4 = df.replace(to_replace = {"Y":{5:50}, "X":{5:100}})
print(df4)

   X  Y  Z
0  1  5  z
1  2  6  y
2  3  7  x
3  4  8  w
4  5  9  v
     X   Y  Z
0    1  50  z
1    2   6  y
2    3   7  x
3    4   8  w
4  100   9  v
<class 'pandas.core.frame.DataFrame'>

In [129]:
import pandas as pd

df = pd.read_csv("./Sqlite/data1.csv")

#convert "Date" column into a series of dateime objects
df["Date"] = pd.to_datetime(df["Date"])

# df["Date"] = pd.to_datetime(df["Date"], format="%Y-%m-%d")

print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2022-02-01    110       130     409.1
1         60 2022-02-02    117       145     479.0
2         60 2022-02-03    103       135     340.0
3         45 2022-02-04    109       175     282.4
4         45        NaT    117       148     406.0
5         60 2022-02-06    102       127     300.0
6         60 2022-02-07    110       136       NaN
7        450 2022-02-08    104       134     253.3
8         30 2022-02-09    109       133     195.1
9         60 2022-02-10     98       124     269.0
10        60 2022-02-11    103       147     329.3
11        60 2022-02-12    100       120     250.7
12       450 2022-02-08    104       134     253.3
13        60 2022-02-12    100       120     250.7
14        45 2022-02-14    103       128     345.3

In [106]:
import pandas as pd

df = pd.read_csv("./Sqlite/data1.csv")

# print(df.to_string())

#change row 9 duration from 60 to 45
#row 9, column "Duration"

df.loc[9, "Duration"] = 45

print("\n")

df.at[9, "Duration"] = 30

print(df.to_string())

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2022-02-01    110       130     409.1
1         60  2022-02-02    117       145     479.0
2         60  2022-02-03    103       135     340.0
3         45  2022-02-04    109       175     282.4
4         45         NaN    117       148     406.0
5         60  2022-02-06    102       127     300.0
6         60  2022-02-07    110       136       NaN
7        450  2022-02-08    104       134     253.3
8         30  2022-02-09    109       133     195.1
9         30  2022-02-10     98       124     269.0
10        60  2022-02-11    103       147     329.3
11        60  2022-02-12    100       120     250.7
12       450  2022-02-08    104       134     253.3
13        60    20220212    100       120     250.7
14        45  2022-02-14    103       128     345.3

In [113]:
import pandas as pd

df = pd.read_csv("./Sqlite/data.csv")

duration_series = df["Duration"]
# print(duration_series)

for index, duration in enumerate(duration_series):
    if duration > 120:
        df.loc[index, "Duration"] = 120
print(df.to_string())

#drop values over 120

# print(df.info())

#loop through index 

for x in df.index:
    if df.loc[x, "Duration"] > 120:
        df.drop(x, inplace=True)
print(df.to_string())

# print(df.info())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        120    108       160    1376.0
61        120    110       137    1034.4
62        120    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        120     90       130     800.4
66        120    105       135     873.4
67        120    107       130     816.0
68         20    106       136     110.4
69        120    108       143    1500.2
70        120     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        120     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        120    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        120    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       120     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       120    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4
     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        120    108       160    1376.0
61        120    110       137    1034.4
62        120    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        120     90       130     800.4
66        120    105       135     873.4
67        120    107       130     816.0
68         20    106       136     110.4
69        120    108       143    1500.2
70        120     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        120     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        120    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        120    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       120     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       120    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [116]:
import pandas as pd

df = pd.read_csv("./Sqlite/data1.csv")

# print(df.to_string())

# print(df.duplicated())

df.drop_duplicates(inplace =True)

print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
13    False
14    False
dtype: bool

In [123]:
import pandas as pd
# import ssl

# ssl._create_default_https_context

# titanic_data = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

# print(titanic_data.head())

# print(titanic_data.tail())

col_names = ["Id", "Survived", 
                "Passenger Class", "Full Name", 
                "Gender", "Age", "SibSp", "Parch", 
                "Ticket Number", "Price", "Cabin", "Station"]

#skip the selected headers
# titanic_data = pd.read_csv("./Sqlite/titanic.csv", names=col_names, skiprows=[0,12,29])

#skip the remove header
titanic_data = pd.read_csv("./Sqlite/titanic.csv", names=col_names, skiprows=[0])

print(titanic_data.head())

titanic_data.to_csv("use_titanic.csv", index=False)

df = pd.read_csv("use_titanic.csv")

print(df)

   Id  Survived  Passenger Class
0   1         0                3  \
1   2         1                1
2   3         1                3
3   4         1                1
4   5         0                3

                                           Full Name  Gender   Age  SibSp
0                            Braund, Mr. Owen Harris    male  22.0      1  \
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch     Ticket Number    Price Cabin Station
0      0         A/5 21171   7.2500   NaN       S
1      0          PC 17599  71.2833   C85       C
2      0  STON/O2. 3101282   7.9250   NaN       S
3      0            113803  53.1000  C123       S
4      0            373450   8.0500   NaN       S